.img-carrousel{
    position: static;
    background-color: white;
    width: 350px;
    height: 350px;
    margin: auto;
    z-index: 1;
}
.carrousel{
    width: 450px;
    height: 350px;
    display: flex;
    align-items: center;
    margin: auto;
}
.position{
    z-index: 100;
    position: static;
}
.gauche{
    position: static;
    width: 50px;
    height: 50px;
    border: none;
    border-top: solid 5px gray;
    border-left: solid 5px gray;
    transform: rotate(-45deg);
    background: none;
    border-radius: 5px;
}
.droite{
    position: static;
    width: 50px;
    height: 50px;
    border: none;
    border-top: solid 5px gray;
    border-right: solid 5px gray;
    transform: rotate(45deg);
    background: none;
    border-radius: 5px;
}
.container{
    display: flex;
    flex-direction: column;
}
.pose{
    padding-top: 10px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(10,40px);
    grid-template-rows: 40px;
}
.position{
    transition: 0.5s;
    width: 30px;
    height: 30px;
    background-color: gray;
    border: none;
    border-radius: 15px;
}